
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/graphhopper-js-api-client/dist/graphhopper-client.js"></script>
    <script type="text/javascript">
      var ghGeocoding = new GraphHopper.Geocoding({
          key: '0435eec9-ae8e-431c-b207-f748944e0a19',
          // host: "https://graphhopper.com/api/1",
          limit: 8,
          locale: "en" /* currently fr, en, de and it are explicitely supported */
        });
      function dataToText(data) {
        var text = "";
        if (data.name)
            text += data.name;

        if (data.postcode)
            text += "," + data.postcode;

        // make sure name won't be duplicated
        if (data.city && text.indexOf(data.city) < 0)
            text += "," + data.city;

        if (data.country && text.indexOf(data.country) < 0)
            text += "," + data.country;
        return text;
      }
      function setStart(long, lat) {
        $('#id_start_lat').val(lat);
        $('#id_start_long').val(long);
      }
      function setEnd(long, lat) {
        $('#id_end_lat').val(lat);
        $('#id_end_long').val(long);
      }
      function findLongLat(queryString) {
        if(queryString.length == 0){return;}
        ghGeocoding.doRequest({query: queryString})
          .then(function (json) {
            var results = $('#results');
            var html = '<table>';
              for (var hitIdx in json.hits) {
                  html += '<tr>';
                  var hit = json.hits[hitIdx];
                  html += '<th>';
                  html += dataToText(hit);
                  // html += hit.name + ", " +hit.postcode;
                  html += '<th>';

                  html += '<th>';
                  html += '<button type="button" name="button" class="btn btn-primary" onclick="setStart(\''+hit.point.lng+'\',\''+hit.point.lat+'\')">Use As Start</button>';
                  html += '<th>';

                  html += '<th>';
                  html += '<button type="button" name="button" class="btn btn-primary" onclick="setEnd(\''+hit.point.lng+'\',\''+hit.point.lat+'\')">Use As End</button>';
                  html += '<th>';

                  html += '</tr>';
              }
              html += '</table>';
              results.html(html);
          });
      }
    </script>
    <title>Phound Create Route</title>
    <style media="screen">
      body {
        padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }

      .bg-dark {
       background-color:#1565C0!important
      }
      a.bg-dark:focus,
      a.bg-dark:hover,
      button.bg-dark:focus,
      button.bg-dark:hover {
       background-color:#0D47A1!important
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Phound</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/controller/{{ controller.id }}/couriers">Courier List</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/controller/{{ controller.id }}">Create Route<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="container" role="main">
      <div class="starter-template">
        <!-- <h1>Welcome {{ controller.name }}</h1> -->
        Location Search:
        <div class="form-group form-inline" style="justify-content: center;">
          <input type="text" id="locationName" name="locationName" class="form-control" value="">
          <button type="button" name="button" onclick="findLongLat($('#locationName').val())" class="btn btn-primary">Search</button>
        </div>
        <div class="" id="results">
        </div>
        <br>
        <br>
        Route Details:
        <br>
        <form action={% url 'controller' controller.id %}   method="post">
            {% csrf_token %}
            <table class="table">
              {{ form }}
            </table>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <script type="text/javascript">
      let newClass = "form-control";
      $('#id_start_lat').addClass(newClass);
      $('#id_start_long').addClass(newClass);
      $('#id_end_lat').addClass(newClass);
      $('#id_end_long').addClass(newClass);
      $('#id_courier_id').addClass(newClass);
      $('#id_travel_time').addClass(newClass);
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>
